@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');

@import './variables.scss';
@import './mixins.scss';

* {
	box-sizing: border-box;
}
body {
	background-color: $bg-cover-color;
	font-family: 'Josefin Sans', sans-serif;
}
.max-content-width {
	max-width: 1208px;
	margin: 0 auto;
}

// Button
.contact-button {
	position: relative;
	height: 60px;
	width: 284px;
	font-size: 22px;
	padding: 0;
	cursor: pointer;
	border: solid 1px #fff;
	border-image: $brand-gradient;
	border-image-slice: 1;
	border-radius: 1px;
	z-index: 1;

	span {
		// transition: color 0.4s ease;
		color: $but-hover-text-color;
		@include brandGradientText();
	}
	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: -2;
		background-color: $bg-color;
		border-radius: 1px;
	}
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		height: 0px;
		width: 100%;
		z-index: -1;
		transition: height 0.2s ease, box-shadow 0.2s ease;
		background-color: #fff;
		border-radius: 1px;
	}
	&:hover {
		border-image: none;
		span {
			// color: $but-hover-text-color;
			background: none;
			background-clip: border-box;
			-webkit-text-fill-color: initial;
		}
	}
	&:hover:after {
		height: 100%;
		box-shadow: -35px 0 40px -40px #101010 inset, 35px 0 40px -40px #101010 inset;
	}
}

// Headers
.section-header {
	@include font(54px, 0.9, 700, $defaut-text-color);
	margin: 0;
}
