// Fonts
$main-text-color: #fff;
$secondary-text-color: rgba(255, 255, 255, 0.5);

// Colors
$bg-cover-color: #1a1a1a;
$bg-color: #101010;
$but-hover-text-color: #101010;
$defaut-text-color: #fff;
$slider-but-color: #fff;
$done-bg-color: #141414;

// Gradients
$brand-gradient: linear-gradient(135deg, #f4ca36 0, rgb(244, 54, 225) 100%);
$showreel-slide-brand-gradient: linear-gradient(180deg, #c2a12c 0, #581452 100%);
$default-slide-brand-gradient: linear-gradient(
	180deg,
	rgba(255, 255, 255, 0.3),
	rgba(255, 255, 255, 0)
);
