// Fonts
$main-text-color: #fff;
$secondary-text-color: rgba(255, 255, 255, 0.5);

// Colors
$bg-cover-color: #1a1a1a;
$bg-color: #101010;
$but-hover-text-color: #101010;
$defaut-text-color: #fff;

// Gradients
$brand-gradient: linear-gradient(135deg, #f4ca36 0, #f436e1 100%);
