@import './common/variables.scss';
@import './common/mixins.scss';

header {
	position: fixed;
	z-index: 20;
	top: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.03);
	backdrop-filter: blur(50px);
	border-bottom: solid 1px;
	border-image: linear-gradient(
		90deg,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0.2) 50%,
		rgba(255, 255, 255, 0) 100%
	);
	border-image-slice: 1;
}
.header-content {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 50px;
	height: 50px;
	transition: height 0.2s ease;

	.logo-wrapper a {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
.header-top {
	@include grid(grid-template-columns, min-content min-content);
	@include gridPosition(center, space-between);
	max-width: 1208px;
	width: 100%;
	margin: 0 auto;
}

// Nav
.menu-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	@include grid(grid-template-columns, repeat(4, min-content), 23px);
}
.menu-item {
	color: $main-text-color;
	opacity: 0.5;
	transition: opacity 0.3s ease;
	text-decoration: none;

	&:hover {
		opacity: 0.75;
	}
	&.active {
		opacity: 1;
	}
}
.burger-icon,
.main-burger-menu {
	display: none;
}

// Media
@media (max-width: 1350px) {
	.header-content {
		max-width: none;
		padding: 0 20px;
	}
}
@media (max-width: 1024px) {
	.main-menu {
		display: none;
	}
	.main-burger-menu {
		display: flex;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s ease 0.3s, visibility 0.3s ease 0.3s;
		position: fixed;
		left: 21px;
		bottom: 96px;

		.menu-list {
			@include grid(grid-template-columns, auto, 8px);
			@include font(36px, 1.32, 400);
			transform: translateX(-200px);
			transition: transform 0.1s ease;
		}
	}
	.header-content {
		height: 60px;
		grid-template-rows: 60px;
	}
	.header-content.burger-menu-active {
		height: 100vh;
	}
	.main-burger-menu.burger-menu-active {
		display: flex;
		align-items: flex-end;
		opacity: 1;
		visibility: visible;
		z-index: 25;

		.menu-list {
			transform: translateX(0);
			transition: transform 0.3s ease;
		}
	}
}

@media (max-width: 768px) {
	.header-content {
		height: 75px;
		grid-template-rows: 75px;
	}
}
