@import './common/variables.scss';
@import './common/mixins.scss';

.welcome-page {
	position: relative;
	background-color: $bg-color;
	overflow: hidden;
}
.background-anim-svg {
	position: absolute;
	top: 15%;
	right: 15%;
	overflow: visible;

	path {
		will-change: transform;
	}
}
.welcome-wrapper {
	position: relative;
	@include grid(grid-template-columns, min-content);
	z-index: 2;
}
.welcome-content {
	padding: 326px 0 188px;
}
.studio-name-header {
	@include brandGradientText();
	@include font(116px, 0.9, 700);
	text-transform: uppercase;
	margin: 0 0 22px;
	padding-top: 5px;
}
.welcome-description {
	@include font(24px, 0.9, 300);
	margin-bottom: 69px;
}

// products-info
.products-info {
	padding: 110px 0 116px;
	background: no-repeat url('../assets/background/line-pattern.svg') center,
		no-repeat url('../assets/background/shape-pattern.svg') center;
}
.production-steps {
	margin-bottom: 130px;
}
.steps-wrapper {
	@include grid(grid-template-columns, repeat(3, minmax(min-content, 336px)));
	justify-content: space-between;
	color: $defaut-text-color;
}
.product-steps-header {
	margin-bottom: 55px;
}
.product-step {
	h3 {
		margin: 0 0 20px;
		@include font(34px, 0.9, 400);
	}
	.step-info {
		@include font(22px, 1.1, 300);
	}
}

// Slider
.cases-wrapper {
	max-width: 1256px;
	margin: 0 auto;
	position: relative;
	margin-bottom: 50px;
}
.cases-slider {
	max-width: 1158px;
}
.cases-header {
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
}
.cases-slide-wrapper {
	margin-bottom: 50px;
}
.bg-gradient {
	padding: 2px;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
	border-radius: 3px;
}
.cases-slide-item {
	position: relative;
	overflow: hidden;

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
		transition: transform 0.3s ease;
		border-radius: 3px;
	}
	.slide-item-content {
		display: flex;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 26px 25% 20px 26px;
		background: linear-gradient(180deg, rgba(13, 13, 13, 0), rgba(13, 13, 13, 1));
	}
	&:hover img {
		transform: scale(1.2);
	}
	&:hover .slide-item-text {
		transform: scale(1.2) translate(10%, -10%);
	}
}
.slide-item-text {
	@include font(24px, 1.32, 400, $defaut-text-color);
	align-self: flex-end;
	transition: transform 0.3s ease;
}
.cases-button-arrow {
	position: absolute;
	top: 35%;
	cursor: pointer;
	transition: opacity 0.1s ease;
	opacity: 1;

	&.cases-button-prev {
		left: 0;
	}
	&.cases-button-next {
		right: 0;
		transform: rotate(180deg);
	}
	&.swiper-button-disabled {
		opacity: 0.2;
	}
}
.cases-pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	height: 10px;
}
.cases-pagination-bullet {
	@include size(10px, 10px);
	background: $slider-but-color;
	opacity: 0.2;
	border-radius: 50%;
	transition: opacity 0.1s ease;
	cursor: pointer;

	&:hover,
	&.cases-pagination-bullet-active {
		opacity: 1;
	}
}

// partners
.clients {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 24px;
}

// done
.done {
	background-color: $done-bg-color;
	padding: 46px 0;
}
.done-wrapper {
	@include grid(grid-template-columns, min-content 332px 332px, 100px);
	justify-content: start;
}
.done-item {
	@include grid(grid-template-rows, min-content 1fr, 6px);
	justify-items: start;
}
.done-count {
	@include brandGradientText();
	@include font(54px, 0.9, 700);
}
.done-text {
	@include font(24px, 1.1, 400, $defaut-text-color);
}

// Prices
.prices {
	padding: 130px 0;

	.section-header {
		margin-bottom: 30px;
	}
	.prices-description {
		@include font(22px, 0.9, 400, $defaut-text-color);
		opacity: 0.6;
		margin-bottom: 50px;
	}
}
.prices-cards {
	display: flex;
	justify-content: space-between;
}
.price-card {
	max-width: 332px;
	padding: 35px 25px 25px;
	border-radius: 10px;
	background-color: $bg-color;

	h4 {
		@include font(32px, 1.32, 700, $defaut-text-color);
		margin: 0;
	}
	.price-services {
		@include font(18px, 1.32, 400, $defaut-text-color);
		margin-bottom: 10px;
	}
}
.underline {
	@include size(100px, 1px);
	background-color: #d9d9d9;
	margin-bottom: 16px;
}
.price-value-wrapper {
	margin-bottom: 30px;
}
.price-value {
	span {
		@include font(52px, 1.32, 700);
		@include brandGradientText();
	}
}
.price-value-description {
	@include font(18px, 1.32, 400, $defaut-text-color);
}
.service-list {
	list-style-type: none;
	margin: 0 0 42px;
	padding-left: 0;

	.service-item {
		position: relative;
		@include font(18px, 1.32, 400, $defaut-text-color);
		padding-left: 23px+16px;
		margin-bottom: 20px;

		&:last-of-type {
			margin-bottom: 0;
		}

		&:before {
			content: '';
			position: absolute;
			background: url('../assets/icons/price-card-dot.svg');
			width: 23px;
			height: 23px;
			top: 50%;
			margin-bottom: -50%;
			transform: translateY(-50%);
			left: 0;
		}
	}
}

// Contact
.contacts {
	padding: 69px 0 66px;
	background-color: $bg-color;
}
.contact-wrapper {
	position: relative;
	@include grid(grid-template-columns, 332px 1fr, 10%);
	justify-content: space-between;
}
.contact-info {
	.section-header {
		margin-bottom: 31px;
	}
	.contact-description {
		@include font(22px, 1.1, 400, $defaut-text-color);
	}
}

.contact-form {
	display: grid;
	grid-template-columns: [name-start email-start] 2fr [name-end email-end message-start] 3fr [message-end];
	grid-gap: 21px 23px;
	grid-template-rows: [name-start message-start] 60px [name-end email-start] 60px [email-end message-end];

	.name-input-wrapper {
		grid-area: name;
	}
	.email-input-wrapper {
		grid-area: email;
	}
	.message-input-wrapper {
		grid-area: message;
	}
}

.input-wrapper {
	position: relative;

	span {
		@include font(22px, 1.32, 400, $defaut-text-color);
		position: absolute;
		left: 16px;
		top: 16px;
		transition: all 0.3s ease;
		cursor: text;
	}
}
.contact-input {
	position: relative;
	border: solid 1px #4a4a4a;
	background-color: transparent;
	transition: background-color 0.2s ease, border-color 0.3s ease;
	@include font(22px, 1.32, 400, $defaut-text-color);
	@include size(100%, 100%);
	padding: 24px 16px 7px;
	resize: none;

	&.contact-input-wrong {
		border: solid 1px #db6b6b;
	}
	&.contact-input-filled + span {
		transform: translateY(-12px);
		opacity: 0.57;
		font-size: 14px;
	}
	&::placeholder {
		color: transparent;
		transition: color 0.3s ease-in;
	}
	&:focus-visible {
		background-color: #212121;
		outline: none;

		&::placeholder {
			color: $defaut-text-color;
		}
		& + span {
			transform: translateY(-12px);
			opacity: 0.57;
			font-size: 14px;
		}
	}
}
.bg-gradient-contact {
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-right: -50%;
	transform: translateX(-50%);
	padding: 1px;
	background: $brand-gradient;
	border-radius: 10px;
	@include font(22px, 1.32, 500, $defaut-text-color);
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease;

	&.show-message {
		opacity: 1;
		visibility: visible;
	}
}
.form-send-result-message {
	width: 332px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $bg-cover-color;
	border-radius: 10px;
}

// Media
@media (max-width: 1440px) {
	.background-anim-svg {
		top: 25%;
		right: 5%;
	}

	.products-info {
		background: no-repeat center/cover url('../assets/background/shape-pattern.svg');
	}
}
@media (max-width: 1350px) {
	.steps-wrapper {
		grid-gap: 55px;
	}

	.cases-wrapper {
		max-width: none;
		width: 100%;
		padding: 0 38px + 16px + 25px;
	}
	.cases-button-arrow {
		&.cases-button-prev {
			left: 38px;
		}
		&.cases-button-next {
			right: 38px;
		}
	}
}
@media (max-width: 1260px) {
	.done-wrapper {
		grid-template-columns: min-content auto auto;
		grid-gap: 30px;
		justify-content: space-between;
	}

	.prices {
		.prices-wrapper.max-content-width {
			padding: 0 14px;
		}
	}
}
@media (max-width: 1060px) {
	.prices {
		padding: 110px 0 78px;
	}
	.prices-cards {
		flex-wrap: wrap;
		justify-content: space-around;
		gap: 40px 40px;
	}
	.price-card {
		max-width: 400px;
		background-color: #101010;
		display: grid;

		& .contact-but-gradient-radius {
			justify-self: center;
		}
	}
}
@media (max-width: 1024px) {
	.welcome-content {
		padding: 208px 0 112px;
	}
	.welcome-description {
		margin-bottom: 32px;
	}
	.background-anim-svg {
		top: 10%;
		right: 0%;
	}

	.production-steps {
		margin-bottom: 110px;
	}
	.products-info {
		padding: 89px 0 108px;
	}

	.cases-wrapper {
		margin-bottom: 24px;
	}
	.slide-item-text {
		font-size: 18px;
	}
	.cases-pagination-bullet {
		width: 8px;
		height: 8px;
	}

	.clients {
		flex-wrap: wrap;
	}

	.steps-wrapper {
		grid-template-columns: minmax(min-content, 336px) minmax(min-content, 336px);
		grid-gap: 55px 102px;
		justify-content: stretch;
	}

	.contact-wrapper {
		grid-template-columns: auto;
		grid-gap: 21px;
		justify-content: stretch;
	}
	.contact-info {
		max-width: 332px;
	}
	.contact-form {
		width: 100%;
	}
}

@media (max-width: 768px) {
	.welcome-page {
		display: grid;
	}
	.welcome-content {
		padding: 345px 0 50px;
	}
	.studio-name-header {
		font-size: 66px;
	}
	.welcome-description {
		margin-bottom: 22px;
	}
	.background-anim-svg {
		justify-self: center;
		right: auto;
		top: -50px;
		width: 375px;
		height: 375px;
	}

	.production-steps {
		margin-bottom: 86px;
	}
	.products-info {
		padding: 86px 0 108px;
	}
	.product-steps-header {
		margin-bottom: 41px;
	}
	.steps-wrapper {
		grid-template-columns: 1fr;
	}

	.cases-header {
		margin-bottom: 41px;
	}
	.cases-wrapper {
		margin-bottom: 50px;
		padding: 0 21px + 16px + 20px;
	}
	.cases-button-arrow {
		&.cases-button-prev {
			left: 21px;
		}
		&.cases-button-next {
			right: 21px;
		}
	}

	.done-wrapper {
		grid-template-columns: 1fr;
		grid-gap: 50px;
	}

	.prices {
		padding: 86px 0 104px;

		.prices-description {
			margin-bottom: 40px;
		}
	}

	.contact-form {
		grid-template-columns: [name-start email-start message-start] 1fr [name-end email-end message-end];
		grid-template-rows: [name-start] 60px [name-end email-start] 60px [email-end message-start] 195px[message-end];
		grid-gap: 30px;
	}
}

@media (max-width: 425px) {
	.background-anim-svg {
		justify-self: center;
		top: -15%;
	}
	.cases-wrapper {
		padding: 0 25px;
	}
	.cases-button-arrow {
		display: none;
	}
}
