@import './common/variables.scss';
@import './common/mixins.scss';

.welcome-page {
	background-color: $bg-color;
}
.welcome-wrapper {
	@include grid(grid-template-columns, min-content);
}
.welcome-content {
	padding-top: 326px;
	margin-bottom: 188px;
}
.studio-name-header {
	@include brandGradientText();
	@include font(116px, 0.9, 700);
	text-transform: uppercase;
	margin: 0 0 22px;
	padding-top: 5px;
}
.welcome-description {
	@include font(24px, 0.9, 300);
	margin-bottom: 69px;
}

// products-info
.products-info {
	padding-top: 110px;
	height: 1281px;
	background: no-repeat url('../assets/background/line-pattern.svg') center,
		no-repeat url('../assets/background/shape-pattern.svg') center;
}
.production-steps {
	margin-bottom: 130px;
}
.steps-wrapper {
	@include grid(grid-template-columns, repeat(3, minmax(min-content, 336px)));
	justify-content: space-between;
	color: $defaut-text-color;
}
.product-steps-header {
	margin-bottom: 55px;
}
.product-step {
	h3 {
		margin: 0 0 20px;
		@include font(34px, 0.9, 400);
	}
	.step-info {
		@include font(22px, 1.1, 300);
	}
}

// Slider
.cases-wrapper {
	max-width: 1256px;
	margin: 0 auto;
	position: relative;
	margin-bottom: 50px;
}
.cases-slider {
	max-width: 1158px;
}
.cases-header {
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
}
.cases-slide-wrapper {
	margin-bottom: 50px;
}
.cases-slide-item {
	position: relative;
	// border-radius: 30px;
	overflow: hidden;
	border: solid 2px #fff;
	border-image: linear-gradient(180deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
	border-image-slice: 1;

	img {
		z-index: -1;
		width: 100%;
		height: 100%;
		transition: transform 0.3s ease;
	}
	.slide-item-content {
		display: flex;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 26px 25% 20px 26px;
		background: linear-gradient(180deg, rgba(13, 13, 13, 0), rgba(13, 13, 13, 1));
	}
	&:hover img {
		transform: scale(1.2);
	}
	&:hover .slide-item-text {
		transform: scale(1.2) translate(10%, -10%);
	}
}
.slide-item-text {
	@include font(24px, 1.32, 400, $defaut-text-color);
	align-self: flex-end;
	transition: transform 0.3s ease;
}
.cases-button-arrow {
	position: absolute;
	top: 50%;
	cursor: pointer;
	transition: opacity 0.1s ease;
	opacity: 1;

	&.cases-button-prev {
		left: 0;
	}
	&.cases-button-next {
		right: 0;
		transform: rotate(180deg);
	}
	&.swiper-button-disabled {
		opacity: 0.2;
	}
}
.cases-pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	height: 10px;

	.cases-pagination-bullet {
		@include size(10px, 10px);
		background: $slider-but-color;
		opacity: 0.2;
		border-radius: 50%;
		transition: opacity 0.1s ease;
		cursor: pointer;

		&:hover,
		&.cases-pagination-bullet-active {
			opacity: 1;
		}
	}
}

// partners
.clients {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 24px;
	margin-bottom: 116px;
}

// done
.done {
	background-color: $done-bg-color;
	padding: 46px 0;
}
.done-wrapper {
	@include grid(grid-template-columns, min-content 332px 332px, 100px);
	justify-content: start;
}
.done-item {
	@include grid(grid-template-rows, min-content 1fr, 6px);
	justify-items: start;
}
.done-count {
	@include brandGradientText();
	@include font(54px, 0.9, 700);
}
.done-text {
	@include font(24px, 1.1, 400, $defaut-text-color);
}

// Prices
.prices {
	padding: 130px 0;

	.section-header {
		margin-bottom: 30px;
	}
	.prices-description {
		@include font(22px, 0.9, 400, $defaut-text-color);
		opacity: 0.6;
		margin-bottom: 50px;
	}
}
.prices-cards {
	display: flex;
	justify-content: space-between;
}
.price-card {
	max-width: 332px;
	padding: 35px 25px 25px;
	background-color: $bg-color;
	border-radius: 10px;

	h4 {
		@include font(32px, 1.32, 700, $defaut-text-color);
		margin: 0;
	}
	.price-services {
		@include font(18px, 1.32, 400, $defaut-text-color);
		margin-bottom: 10px;
	}
}
.underline {
	@include size(100px, 1px);
	background-color: #d9d9d9;
	margin-bottom: 16px;
}
.price-value-wrapper {
	margin-bottom: 30px;
}
.price-value {
	@include font(52px, 1.32, 700);
	@include brandGradientText();
}
.price-value-description {
	@include font(18px, 1.32, 400, $defaut-text-color);
}
.service-list {
	list-style-type: none;
	margin: 0 0 42px;
	padding-left: 0;

	.service-item {
		position: relative;
		@include font(18px, 1.32, 400, $defaut-text-color);
		padding-left: 23px+16px;
		margin-bottom: 20px;

		&:last-of-type {
			margin-bottom: 0;
		}

		&:before {
			content: '';
			position: absolute;
			background: url('../assets/icons/price-card-dot.svg');
			width: 23px;
			height: 23px;
			top: 50%;
			margin-bottom: -50%;
			transform: translateY(-50%);
			left: 0;
		}
	}
}

// Contact
.contacts {
	padding: 69px 0 66px;
	background-color: $bg-color;
}
.contact-wrapper {
	@include grid(grid-template-columns, 332px 1fr, 10%);
	justify-content: space-between;
}
.contact-info {
	.section-header {
		margin-bottom: 31px;
	}
	.contact-description {
		@include font(22px, 1.1, 400, $defaut-text-color);
	}
}

.contact-form {
	display: grid;
	grid-template-columns: [name-start email-start] 2fr [name-end email-end message-start] 3fr [message-end];
	grid-gap: 21px 23px;
	grid-template-rows: [name-start message-start] 60px [name-end email-start] 60px [email-end message-end];

	.name-input-wrapper {
		grid-area: name;
	}
	.email-input-wrapper {
		grid-area: email;
	}
	.message-input-wrapper {
		grid-area: message;
	}
}

.input-wrapper {
	position: relative;

	span {
		@include font(22px, 1.32, 400, $defaut-text-color);
		position: absolute;
		left: 16px;
		top: 16px;
		transition: all 0.3s ease;
	}
}
.contact-input {
	position: relative;
	border: solid 1px #4a4a4a;
	background-color: transparent;
	transition: background-color 0.2s ease;
	@include font(22px, 1.32, 400, $defaut-text-color);
	@include size(100%, 100%);
	padding: 24px 16px 7px;
	resize: none;

	&::placeholder {
		color: transparent;
		transition: color 0.3s ease-in;
	}
	&:focus-visible {
		background-color: #212121;
		outline: none;

		&::placeholder {
			color: $defaut-text-color;
		}
		& + span {
			transform: translateY(-12px);
			opacity: 0.57;
			font-size: 14px;
		}
	}
}
